<!DOCTYPE html>
<html>
<body>
  <div class="pos-f-t sticky-top">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <a class="nav-link" onclick="alert('yo world');">
              <h5 class="text-white">Payroll Contacts <fa-icon [icon]="faWallet"></fa-icon>
              </h5>
            </a>
          </div>
          <div class="col d-flex justify-content-center">
            <a class="nav-link">
              <h4 class="text-white">Analytics <fa-icon [icon]="faBalance"></fa-icon>
              </h4>
            </a>
          </div>
          <div class="col d-flex justify-content-center">
            <a class="nav-link">
              <h4 class="text-white">Allocation <fa-icon [icon]="faHandUSD"></fa-icon>
              </h4>
            </a>
          </div>
          <div class="col d-flex justify-content-center">
            <a class="nav-link">
              <h4 class="text-white">Counseling <fa-icon [icon]="faCommentsDollar"></fa-icon>
              </h4>
            </a>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-light" style="background-color: #1BA261;">
      <button class="navbar-toggler bg-light" type="button" data-toggle="collapse"
        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="text-white"><fa-icon [icon]="faPiggy"></fa-icon> bankroll</h1>
    </nav>
  </div>
  <div class="features">
    <div class="contianer d-flex justify-content-center">
      <div class="row">
        <ul class="list-unstyled">
          <h5 class="display-3">Spending Allocation</h5>
          <li>Schedule finances and automatically make payments with integration.</li>
          <li>Create, categorize, and tag payments</li>
          <li>Customize Payment Intervals</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="features">
    <div class="contianer d-flex justify-content-center">
      <div class="row">
        <ul class="list-unstyled">
          <h5 class="display-3">Contact Payroll</h5>
          <li>Schedule finances and automatically make payments with integration.</li>
          <li>Create, categorize, and tag payments</li>
          <li>Customize Payment Intervals</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="features">
    <div class="contianer d-flex justify-content-center">
      <div class="row">
        <ul class="list-unstyled">
          <h5 class="display-3">Analytics</h5>
          <li>Schedule finances and automatically make payments with integration.</li>
          <li>Create, categorize, and tag payments</li>
          <li>Customize Payment Intervals</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="features">
    <div class="contianer d-flex justify-content-center">
      <div class="row">
        <ul class="list-unstyled">
          <h5 class="display-3">Counseling</h5>
          <li>Schedule finances and automatically make payments with integration.</li>
          <li>Create, categorize, and tag payments</li>
          <li>Customize Payment Intervals</li>
        </ul>
      </div>
    </div>
  </div>
  

</body>

</html>