<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="features">
            <div class="contianer d-flex justify-content-center">
              <div class="row">
                <ul class="list-unstyled">
                  <h5 class="display-3">Allocation</h5>
                  <li>Schedule finances and automatically make payments with integration.</li>
                  <li>Create, categorize, and tag payments</li>
                  <li>Customize Payment Intervals</li>
                </ul>
              </div>
            </div>
          </div>
        <div class="features">
            <div class="contianer d-flex justify-content-center">
              <div class="row">
                <ul class="list-unstyled">
                  <h5 class="display-3">Contact Payroll</h5>
                  <li>Schedule finances and automatically make payments with integration.</li>
                  <li>Create, categorize, and tag payments</li>
                  <li>Customize Payment Intervals</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="features">
            <div class="contianer d-flex justify-content-center">
              <div class="row">
                <ul class="list-unstyled">
                  <h5 class="display-3">Analytics</h5>
                  <li>Schedule finances and automatically make payments with integration.</li>
                  <li>Create, categorize, and tag payments</li>
                  <li>Customize Payment Intervals</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="features">
            <div class="contianer d-flex justify-content-center">
              <div class="row">
                <ul class="list-unstyled">
                  <h5 class="display-3">Counseling</h5>
                  <li>Schedule finances and automatically make payments with integration.</li>
                  <li>Create, categorize, and tag payments</li>
                  <li>Customize Payment Intervals</li>
                </ul>
              </div>
            </div>
          </div>
    </body>
</html>
